/.Rproj.user
.Rhistory
.RData
.Ruserdata

IDBacApp.Rproj
.Rbuildignore
/packrat/lib
/packrat/src
packrat/lib*/
/inst/app/wizard

/inst/app/R-3.4.3-win.exe
/inst/app/Rtools34.exe
/inst/app/packageLibrary/
