BDal.BCO.Constants.xml
BDal.BCO.Interfaces.dll
BDal.BCO.Objects.xml
BDal.BCO.dll
BDal.CCO.Calibration.dll
BDal.CCO.Constants.xml
BDal.CCO.Interfaces.dll
BDal.CCO.Objects.xml
BDal.CCO.TemperatureCompensation.dll
BDal.CCO.Transformation.dll
BDal.CCO.Utilities.dll
BDal.CXt.Lc.Factory.dll
BDal.CXt.Lc.Interfaces.dll
BDal.CXt.Lc.UntU2.dll
BDal.CXt.Lc.dll
BaseCommon.dll
BaseDataAccess.dll
BaseDataAccess.dll.config
BaseError.dll
BaseTof.dll
Clearcore2.Compression.dll
Clearcore2.Data.Acquisition.Client.dll
Clearcore2.Data.Acquisition.Contracts.dll
Clearcore2.Data.AnalystDataProvider.dll
Clearcore2.Data.Client.dll
Clearcore2.Data.Common.dll
Clearcore2.Data.CommonInterfaces.dll
Clearcore2.Data.Contracts.dll
Clearcore2.Data.Core.dll
Clearcore2.Data.Wiff2.dll
Clearcore2.Data.WiffReader.dll
Clearcore2.Data.dll
Clearcore2.DataService.dll
Clearcore2.Devices.Types.dll
Clearcore2.Domain.Acquisition.Methods.MassSpec.dll
Clearcore2.Domain.Acquisition.dll
Clearcore2.Infrastructure.dll
Clearcore2.InternalRawXYProcessing.dll
Clearcore2.Muni.dll
Clearcore2.RawXYProcessing.dll
Clearcore2.StructuredStorage.dll
Clearcore2.UserLog.Types.dll
Clearcore2.Utility.dll
Clearcore2.XmlHelpers.dll
CompassXtractMS.dll
Compressor_12451AC8-3BF1-48e1-8E66-DA05BF3852A0.dll
Compressor_382D5134-9727-4be6-B6F8-754F577426D6.dll
Compressor_4F1EA0CB-5A6A-43ED-9562-D6D873034577.dll
Compressor_6BB2E64A-27A0-4575-A66A-4E312C8B9AD7.dll
Compressor_6EEE649E-09AA-4332-8E82-8188652E8AB5.dll
Compressor_7F88E97F-2038-40ba-8F3A-FCA9A9719569.dll
CustomDataSourceDialog.dll
CustomDataSourceDialog.dll.config
DataGridViewAutoFilter.dll
DataReader.dll
DigitalRune.Windows.Docking.dll
EULA.MHDAC
EULA.MSFileReader
EULA.SFCS
FlexVariableTable.xml
HSReadWrite.dll
ICRVariableTable.xml
Interop.DataExplorer.dll
Interop.EDAL.SxS.manifest
Interop.EDAL.dll
Interop.HSREADWRITELib.SxS.manifest
Interop.HSREADWRITELib.dll
Interop.MSFileReaderLib.dll
MIDAC.dll
MSConvertGUI.exe
MSConvertGUI.exe.config
MSConvertGUI.exe.manifest
MSFileReader.XRawfile2.SxS.manifest
MSFileReader.XRawfile2.dll
MSGraph.dll
MassLynxRaw.dll
MassSpecDataReader.dll
Microsoft.Practices.Unity.Configuration.dll
Microsoft.Practices.Unity.dll
OFX.Core.Contracts.dll
OFX.Core.dll
OFX.EventServices.dll
OFX.Logging.dll
OFX.Security.Core.dll
STL_Containers.dll
Sciex.Clearcore.FMan.dll
Sciex.Data.Processing.dll
Sciex.Data.SimpleTypes.dll
Sciex.Data.XYData.dll
Sciex.FMan.dll
Sciex.Wiff.dll
System.Data.SQLite.dll
ThermoRawMetaDump.exe
UIMFLibrary.dll
ZedGraph.dll
agtsampleinforw.dll
baf2sql_c.dll
boost_date_time-vc90-mt-1_37-x64-BDAL_20091123.dll
boost_regex-vc90-mt-1_37-x64-BDAL_20091123.dll
boost_system-vc90-mt-1_37-x64-BDAL_20091123.dll
boost_thread-vc90-mt-1_37-x64-BDAL_20091123.dll
cdt.dll
chainsaw.exe
fileio_x64.dll
fregistry_x64.dll
idcat.exe
idconvert.exe
mkl_sequential.dll
msaccess.exe
msbenchmark.exe
mscat.exe
msconvert.exep.exe
msistats.exe
msparser.dll
mspicture.exe
peakaboo.exe
pepcat.exe
pepsum.exe
protobuf-net.dll
pwiz.CommonUtil.dll
pwiz_bindings_cli.dll
qtofpeakpicker.exe
seems.exe
seems.exe.config
seems.exe.manifest
sldout.exe
txt2mzml.exe
unimod_2.xsd
msconvert.exe.exe
