/*
h1 {
  font-family: 'Arial';
  font-size: 30pt;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  
}
*/


.introPage {
    position: relative;
    background: #ffffff;
    overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.introPage:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.6;
    background-image: url("big_bacPlate.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.navbar-static-top {
    font-family: 'Arial';
    background-color: #e7e7e7;
    font-weight: 700;

}

.intro_WellPanel{
  margin:50px;
}



.dendDots_WellPanel{
  padding-left:50px;
}


.modal-dialog{ 
  width:100%; 
  height:100%;
  
}


.publicationTitle {

font-family: 'Arial';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}


.publicationAuthor {

font-family: 'Arial';
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}


.publicationDetails {

font-family: 'Arial';
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}







.dendDots_WellPanel{
  padding-left:50px;
}


.dendMod_WellPanel {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms ease;
}

.dendMod_WellPanel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}





.panel {
  
    background-color: #f5f5f5;
}










.popup_Plots {
  /* Appearance */
  background-color: grey;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms ease;
}

.popup_Plots:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}


.closeX{
  font-size: 2em; 
  color: Tomato;
  padding: 0px 0px 0px 0px;

}



