/*
h1 {
  font-family: 'Arial';
  font-size: 30pt;
  font-weight: 500;
  line-height: 1.1;
  color: black;
  
}
*/



#footer {
  position: absolute;
  bottom: 0;
}


.introPage {
    position: absolute;
    margin: 0;
    left: 30%;
    right: 30%;
    top: 20%;
    bottom: 20%;
    opacity: 1;
    z-index: 100;
    overflow: auto;
    font-family: 'Arial';
    font-size: 1em;
    line-height: 1.1;
    color: black;
   

}

.introPageImage {
    content: ' ';
    position: absolute;
    margin: 0;
    left: -10%;
    top: -5%;
    right: -10%;
    bottom: -10%;
    z-index: 0;
    opacity: 0.6;
    background-image: url("big_bacPlate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}


.navbar-static-top {
    font-family: 'Arial';
    background-color: #e7e7e7;
    font-weight: 700;

}



.dendDots_WellPanel{
  padding-left:50px;
}


.modal-dialog{ 
  width:100%; 
  height:100%;
  
}


.publicationTitle {

font-family: 'Arial';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}


.publicationAuthor {

font-family: 'Arial';
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}


.publicationDetails {

font-family: 'Arial';
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}







.dendDots_WellPanel{
  padding-left:50px;
}


.dendMod_WellPanel {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms ease;
}

.dendMod_WellPanel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}





.panel {
  
    background-color: #f5f5f5;
}










.popup_Plots {
  /* Appearance */
  background-color: Gainsboro;
  padding: 20px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms ease;
}

.popup_Plots:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}


.closeX{
  font-size: 2em; 
  color: Tomato;
  padding: 0px 0px 0px 0px;

}


  /* Center numeric input text in inputnumeric */

.form-control, .shiny-bound-input, .shinyjs-resettable { 
         display: table-cell; 
         text-align: center; 
         vertical-align: middle; 
      }



.tooltippy {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltippy .tooltippytext {
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  opacity: 0.65;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltippy */
  position: absolute;
  z-index: 1001;
  top: -5px;
  left: 105%;
}

.tooltippy:hover .tooltippytext {
  visibility: visible;
}